html {
  overflow-y: scroll;
}

p {
  font-size: medium;
  text-align: justify;
}

* {
  font-family: Georgia;
}


h1, h2, h3{
  color: rgb(35% 70% 30%);
}

.navbar-light .navbar-nav a.nav-link.active{
  color: rgb(15% 50% 10%);	
}

.navbar-light .navbar-nav a.nav-link{
  color: rgb(35% 70% 30%);	
}

.navbar-light .navbar-nav a.nav-link:hover{
  color: rgb(15% 50% 10%);	
}